name: Test Suite

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v3 

      - name: Print vars variables
        run: echo ${{ vars.FIREBASE_SECRET }}

      - name: Print environment variables
        run: echo ${{ env.FIREBASE_SECRET }}

      - name: Print secret variables
        run: echo ${{ secrets.FIREBASE_SECRET }}

      - name: Tidy
        run: go mod tidy

      - name: Install dependencies
        run: go mod download

      - name: Change directory and run tests
        env:
          APP_ENV: cicd
          FIREBASE_SECRET: ${{ env.FIREBASE_SECRET }}
          DB_PATH: ${{ github.workspace }}/cicd.db
          LOG_LEVEL: debug
        run: cd pkg/test/cmd && go run .
        if: always()

      - name: Upload test artifacts (optional)
        uses: actions/upload-artifact@v3
        if: failure() 
        with:
          name: test-results
          path: ${{ github.workspace }}/

      - name: Fail workflow on test failures (optional)
        uses: styfle/cancel-workflow-action@0.8.0 
        if: failure()  
        with:
          message: 'Tests failed. Fix the errors before merging...'
