name: Test Suite

on:
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v3 

      - name: Tidy
        run: go mod tidy

      - name: Install dependencies
        run: go mod download

      - name: Create directory for decoded secret (optional)
        run: mkdir secrets

      - name: Decode Firebase secret (optional)**
        run: |
            echo "${{ secrets.ENV_TEST }}" | base64 --decode > pkg/test/cmd/.env.test
        if: always()  

      - name: Decode Firebase secret (optional)**
        run: |
            echo "${{ secrets.FIREBASE_SECRET }}" | base64 --decode > todoapp-firebase-admin-sdk.json
        if: always()  

      - name: Change directory and run tests
        run: cd pkg/test/cmd && APP_ENV=test DB_PATH=test.db LOG_LEVEL=debug FIREBASE_ADMIN_SDK=todoapp-firebase-admin-sdk.json go run .
        if: always()


      - name: Upload test artifacts (optional)
        uses: actions/upload-artifact@v3
        if: failure() 
        with:
          name: test-results
          path: ${{ github.workspace }}/

      - name: Fail workflow on test failures (optional)
        uses: styfle/cancel-workflow-action@0.8.0  # Or a similar action
        if: failure()  
        with:
          message: 'Tests failed. Fix the errors before merging.'
